*, li, a {
	padding: 0;
	margin: 0;
	border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    color: #fff;
    background-color: #373737;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.center{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.site-descr{
    background: url(https://drive.google.com/uc?export=view&id=1klcq7mI55oY2m61EOQ_iSlGKIkrQnmGz) center no-repeat;
    padding-top: 148px;
    padding-bottom: 161px;
    .site-descr__title{
        max-width: 600px;
        margin-left: 189px;
        margin-bottom: 24px;
        font-family: 'Jura';
        font-weight: 400;
        font-size: 41px;
        line-height: 48px;
        color: #fff;
    }
    .site-descr__sub-title{
        max-width: 450px;
        margin-left: 189px;
        margin-bottom: 55px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        color: #fff;
    }
    .site-sescr__btn{
        display: inline-block;
        margin-left: 189px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        border: 2px solid #C80000;
        box-sizing: border-box;
        border-radius: 27px;
        padding: 16px 34px;
        color: #fff;
        transition: 0.5s;
        &:hover{
            background-color: #C80000;
        }

    }
}
.site-nav{
    display: flex;
    justify-content: space-between;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 88px;
    .site-nav__link{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .link-item{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
        opacity: 0.4;
        margin-top: 31px;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            color: #C80000;
            opacity: 1;
        }
    }
}
.products__wrapper{
    display: flex;
    justify-content: space-around;
    gap: 18px;
    flex-wrap: wrap;
    .collection-knives{
        position: relative;
        cursor: pointer;
        max-width: 590px;
        transition: 0.5s;
        z-index: 10;
        &:hover{
            transform: scale(1.1);
        }
        &:hover .collection-knives__title{
            color: #C80000;
        }
        &:hover .arrow{
            stroke: #C80000;
        }
        .collection-knives__img{
            display: inline-block;
            img{
                width: 100%;
                border-radius: 16px;
            }
        }
        .collection-knives__title{
            position: absolute;
            bottom: 30px;
            left: 26px;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 17px;
            line-height: 28px;
        }
        .arrow{
            position: absolute;
            bottom: 36px;
            right: 28px;
        }
    }
    .email-form-news{
        margin-top: 49px;
        text-align: center;
        .new-product{
            font-family: 'Jura';
            font-weight: 500;
            font-size: 27px;
            line-height: 42px;
            color: #FFFFFF;
            margin-bottom: 17px;
        }
        .email-form{
            input{
                outline: none;
                max-width: 276px;
                background: #272727;
                border-radius: 6px;
                padding: 21px 164px 20px 26px;
                color: #fff;
            }
        }
    }
}
.knive-item{
    max-width: 286px;
    .knive-item__add-cart{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 11px;
        background: #272727;
        border-radius: 14px;
        position: relative;
        min-height: 412px;
        margin-bottom: 12px;
        cursor: pointer;
        &:hover .plus{
            background-color: #C80000;
            border-radius: 50%;
        }
        img{
            background: #272727;
            border-radius: 16px;
        }
        .plus{
            position: absolute;
            top: 24px;
            right: 27px;
        }
    }
    .knive-item__title{
        display: block;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;      
    }
    .knive-item__price{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;   
        margin-right: 28px;
        opacity: 0.5;   
    }
    .knive-item__new{
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #C80000;
    }
}
