*, li, a {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  color: #fff;
  background-color: #373737;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.delimiter {
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 60px;
}

.site-descr {
  background: url(https://drive.google.com/uc?export=view&id=1klcq7mI55oY2m61EOQ_iSlGKIkrQnmGz) center no-repeat;
  padding-top: 148px;
  padding-bottom: 161px;
}

.site-descr .site-descr__title {
  max-width: 600px;
  margin-left: 189px;
  margin-bottom: 24px;
  font-family: 'Jura';
  font-weight: 400;
  font-size: 41px;
  line-height: 48px;
  color: #fff;
}

.site-descr .site-descr__sub-title {
  max-width: 450px;
  margin-left: 189px;
  margin-bottom: 55px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #fff;
}

.site-descr .site-sescr__btn {
  display: inline-block;
  margin-left: 189px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  border: 2px solid #C80000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 27px;
  padding: 16px 34px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.site-descr .site-sescr__btn:hover {
  background-color: #C80000;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 88px;
}

.site-nav .site-nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav .link-item {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-top: 31px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.site-nav .link-item:hover {
  color: #C80000;
  opacity: 1;
}

.products__wrapper .products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__wrapper .products__content .collection-knives {
  position: relative;
  cursor: pointer;
  max-width: 590px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

.products__wrapper .products__content .collection-knives:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products__wrapper .products__content .collection-knives:hover .collection-knives__title {
  color: #C80000;
}

.products__wrapper .products__content .collection-knives:hover .arrow {
  stroke: #C80000;
}

.products__wrapper .products__content .collection-knives .collection-knives__img {
  display: inline-block;
}

.products__wrapper .products__content .collection-knives .collection-knives__img img {
  width: 100%;
  border-radius: 16px;
}

.products__wrapper .products__content .collection-knives .collection-knives__title {
  position: absolute;
  bottom: 30px;
  left: 26px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
}

.products__wrapper .products__content .collection-knives .arrow {
  position: absolute;
  bottom: 36px;
  right: 28px;
}

.products__wrapper .email-form-news {
  margin-top: 49px;
  margin-bottom: 49px;
  text-align: center;
}

.products__wrapper .email-form-news .new-product {
  font-family: 'Jura';
  font-weight: 500;
  font-size: 27px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.products__wrapper .email-form-news .email-form input {
  width: 100%;
  outline: none;
  max-width: 276px;
  background: #272727;
  border-radius: 6px;
  padding: 21px 30px 20px 26px;
  color: #fff;
}

.products__wrapper .products__about-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}

.products__wrapper .knife-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__wrapper .knife-category .knife-category__item {
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 17px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  border-bottom: 2px solid #C80000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.products__wrapper .knife-category .knife-category__item:hover {
  opacity: 1;
  border-bottom: 2px solid #C80000;
}

.knive-item {
  max-width: 286px;
}

.knive-item .knive-item__add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 11px;
  background: #272727;
  border-radius: 14px;
  position: relative;
  min-height: 412px;
  margin-bottom: 12px;
  cursor: pointer;
}

.knive-item .knive-item__add-cart:hover .plus {
  background-color: #C80000;
  border-radius: 50%;
}

.knive-item .knive-item__add-cart img {
  background: #272727;
  border-radius: 16px;
}

.knive-item .knive-item__add-cart .plus {
  position: absolute;
  top: 24px;
  right: 27px;
}

.knive-item .knive-item__title {
  display: block;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.knive-item .knive-item__price {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  margin-right: 28px;
  opacity: 0.5;
}

.knive-item .knive-item__new {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #C80000;
}

.descr-knife .descr-knife__content .descr-knife-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 39px;
}

.descr-knife .descr-knife__content .descr-knife-top .descr-top-img {
  max-width: 300px;
  margin-right: 81px;
}

.descr-knife .descr-knife__content .descr-text-top {
  max-width: 672px;
}

.descr-knife .descr-knife__content .descr-text-top .descr-title {
  font-family: 'Jura';
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #FFFFFF;
  margin-bottom: 51px;
}

.descr-knife .descr-knife__content .descr-text-top .decsr {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.descr-knife .descr-knife__content .descr-knife-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.descr-knife .descr-knife__content .descr-knife-bottom .descr-text-bottom {
  max-width: 811px;
  margin-right: 86px;
}

.descr-knife .descr-knife__content .descr-knife-bottom .descr-text-bottom .decsr-bottom {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.descr-knife .descr-knife__content .descr-knife-bottom .descr-text-bottom .descr-title-bottom {
  font-family: 'Jura';
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
}

.interesting-knives {
  padding-bottom: 60px;
}

.interesting-knives .knives-news-title {
  font-family: 'Jura';
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
  margin-bottom: 37px;
}

.interesting-knives .cart-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 28px;
}

.interesting-knives .cart-news-container .cart-news {
  max-width: 380px;
  width: 100%;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.6;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.interesting-knives .cart-news-container .cart-news .cart-img {
  width: 100%;
}

.interesting-knives .cart-news-container .cart-news .date {
  position: absolute;
  top: 23px;
  right: 25px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
}

.interesting-knives .cart-news-container .cart-news .cart-news-descr {
  position: absolute;
  left: 35px;
  bottom: 22px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
  opacity: 1;
}

.interesting-knives .cart-news-container .cart-news:hover {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */